<template lang="">
	<div class="list-group">
		<template v-for="(book, index) in books" :key="index">
			<button @click="selectBook(book)" type="button" class="list-group-item list-group-item-action" aria-current="true">
				{{book.title}}
  			</button>
		</template>
	</div>
</template>
<script>
export default {
	props:{
		books: {
			type: Array,
			default: []
		},
		selectBook: Function
	},
}
</script>
<style lang="">
	
</style>