<template>
	<div class="card">
		 <div class="card-body">
			<div class="text-center">
				<h4 class="mt-1 mb-5 pb-1">Iniciar sesión</h4>
			</div>
			<form v-on:submit="login" v-on:submit.prevent="onSubmit">
				<div class="form-outline mb-4">
					<label class="form-label" for="email">Email</label>
					<input v-model="mail" type="email" id="email" class="form-control" required />
				</div>
				<div class="form-outline mb-4">
					<label class="form-label" for="password">Password</label>
					<input v-model="pass" type="password" id="password" class="form-control" required />
				</div>
				<button type="submit" class="btn btn-primary btn-block mb-4">Iniciar sesión</button>
			</form>
		</div>
	</div>
</template>
<script>
    import axios from 'axios'

	export default {
		data() {
			return {
				mail: '',
				pass: ''
			}
		},
		methods: {
			checkUser(){
				// Redirect to main if user exists
				const _user = localStorage.getItem("_user")
				if (_user) {
					window.location = '#/main'
				}
			},
			async login() {
				console.log('data', this.mail, this.pass);
				let request = {
					url: import.meta.env.VITE_URL+'api/login',
					timeout: 8000,
					method: 'get',
					params:{
						password: this.pass,
						email: this.mail,
					},
					headers: {
						'Content-Type': 'application/json',
					}
				}

				axios(request).then((resp) => {
					// Save user on local
					localStorage.setItem("_user", JSON.stringify(resp.data))

					window.location = '#/main'
				}).catch(function (error) {
					// handle error
					console.error(error);
				})
			}
		},
		beforeMount(){
			this.checkUser()
		},
	}
</script>