<script>
import axios from 'axios'

import Right from './Right.vue'
import Left from './Left.vue'

export default {
	data(){
		return {
			editoriales: [],
			loading: false,
			editorial: '',
			title: '',
			books: [],
			book: {},
			user: {},
		}
	},
	components: {
		Right,
		Left,
	},
	methods: {
		checkUser(){
			// Redirect to login if user not exists
			const _user = localStorage.getItem("_user")
			if (!_user) {
				window.location = '#/'

				return
			}

			this.user = JSON.parse(_user)
		},
		async getEditoriales() {
			let request = {
				url: import.meta.env.VITE_URL+'api/editorial',
				timeout: 8000,
				method: 'get',
				headers: {
					'Content-Type': 'application/json',
					'Authorization': `Bearer ${this.user.token}`,
				}
			}

			axios(request).then((resp) => {
				this.editoriales = resp.data
			}).catch(function (error) {
				// handle error
				console.error(error);
			})
		},
		async search() {
			// Clean data
			this.books = []
			this.book = {}

			this.loading = true

			let request = {
				url: import.meta.env.VITE_URL+'api/books',
				timeout: 8000,
				method: 'get',
				params:{
					id_editorial: this.editorial,
					title: this.title,
				},
				headers: {
					'Content-Type': 'application/json',
					'Authorization': `Bearer ${this.user.token}`,
				}
			}

			axios(request).then((resp) => {
				this.loading = false

				this.books = resp.data
			}).catch(function (error) {
				this.loading = false

				// handle error
				console.error(error);
			})
		},
		selectBook(book){
			this.book = book
		}
	},
	beforeMount(){
		this.checkUser()
	},
	async mounted() {
		await this.getEditoriales()
		await this.search()
	}
}
</script>
<template>
	<div class="card">
		<div class="card-header">
			<h4>Main</h4>
		</div>
		<div class="card-body">
			<div class="row">
				<div class="col-12">
					<div class="mb-3">
						<div class="row">
							<div class="col-5">
								<input v-model="title" type="text" class="form-control" placeholder="Nombre del libro">
							</div>
							<div class="col-5">
								<select class="form-select" v-model="editorial">
									<option value="" selected>- Editorial</option>
									<option v-for="(editorial, index) in editoriales" :key="index" :value="editorial.id">{{editorial.name}}</option>
								</select>
							</div>
							<div class="col-2">
								<div class="d-grid gap-2">
									<button @click="search" type="button" class="btn btn-primary">Buscar</button>
								</div>
							</div>
						</div>
						
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-12" v-if="books.length === 0 && !loading">
					<h5>No se encontraron libros</h5>
				</div>
				<div class="col-12" v-if="loading">
					<h5>Cargando...</h5>
				</div>
				<div class="col-md-7">
					<Left 
						v-if="books.length > 0"

						:selectBook="selectBook"
						:books="books" 
					/>
				</div>
				<div class="col-md-5">
					<Right
						v-if="Object.keys(book).length > 0"

						:book="book"			
					 />
				</div>
			</div>
		</div>
	</div>
</template>