<template lang="">
	<div class="card">
		<div class="card-body">
			<h5 class="card-title">Titulo</h5>
			<p class="card-text">{{book.title}}</p>

			<h5 class="card-title">Precio</h5>
			<p class="card-text">${{book.price}}</p>

			<h5 class="card-title">Fecha de publicación</h5>
			<p class="card-text">{{book.publish_at}}</p>

			<h5 class="card-title">Autor</h5>
			<div class="row d-flex flex-wrap align-items-center">
				<div class="col-3">
					<img :src="url+book.author_file" class="rounded-circle img-fluid" :alt="book.author" />
				</div>
				<div class="col-9">
					<span class="align-middle" style="font-size: 20px">{{book.author}}</span>
				</div>
			</div><br />
			<h5 class="card-title">Editorial</h5>
			<p class="card-text">{{book.editorial}}</p>
			<div class="d-grid gap-2">
				<a :href="url+book.file" target="_blank" type="button" class="btn btn-primary">Descargar</a>
			</div>
		</div>
	</div>
</template>
<script>
export default {
	data() {
		return {
			url: import.meta.env.VITE_URL+'storage/'
		}
	},
	props:{
		book: Object
	},
}
</script>
<style lang="">
	
</style>