<script>
import Login from './components/Login.vue'
import Main from './components/Main.vue'

const routes = {
	'/main': Main,
	'/': Login,
}

export default {
	data() {
		return {
			currentPath: window.location.hash
		}
	},
	computed: {
		currentView() {
			return routes[this.currentPath.slice(1) || '/'] || NotFound
		}
	},
	mounted() {
		window.addEventListener('hashchange', () => {
			this.currentPath = window.location.hash
		})
	}
}
</script>

<template>
	<header><title>Fernando - Omnicloud</title></header>
	<main>
		<div class="container">
			<div class="row">
				<div class="col-12" style="padding-top: 1rem;">
					<component :is="currentView" />
				</div>
			</div>
		</div>
	</main>
</template>

<style scoped>

</style>
